// textColors


//colors

//backgroundColors


// buttonsColors



$grid_breakpoints: (
   xxl: 1591px,
   xl: 1279px,
   lg: 1023px,
   md: 767px,
   sm: 575px,
);

//размер базового шрифта на сайте
$baseFontSize: 18;

// ширина ограничевающего контейнера для декстопа
$maxContainer: 1524;






