@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap");
// &display=swap   - чтоб шрифты грузились правильно

html {
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

.playfairdisplay {
    font-family: 'PlayfairDisplay', Arial, sans-serif;
}

.roboto {
    font-family: 'Roboto', Arial, sans-serif;
}